

.select-dropdown {
    min-width: 200px;
    width: auto;
}

.select-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.undo-redo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}




