.sudoku-board {
    display: grid;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 225px); /* 3 equal columns */
    grid-template-rows: repeat(3,225px);
}

.heading-line {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.parent-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    align-content: start;
    overflow: hidden;
}
