.sudoku-board {
    display: grid;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 200px); /* 3 equal columns */
    grid-template-rows: repeat(3,200px);
}

.heading-line {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.parent-grid {
    display: grid;
    grid-template-columns: 200px 600px 200px;
    gap: 10px;
    overflow: hidden;
}
