.sudoku-board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    aspect-ratio: 1 / 1;
}

.heading-line {
    display: flex;
    justify-content: space-between; 
    width: 70%; 
}
